РГР/img/dims.txt
РГР/img/test_labels.bin
РГР/img/test_images.bin
РГР/img/train_images.bin
РГР/img/train_labels.bin
РГР/img/val_images.bin
РГР/img/val_labels.bin
РГР/ТЕМА.txt
РГР/img/mnist.pkl.gz
РГР/img/mnist.pkl
РГР/neural_network
РГР/model_weights.bin
